html {
height: 100%;
width: 100%;
}
#banner
{ width: 100%;
height: 650px;}
body{
background-color: rgb(255, 255, 255);
}
.parte1{
    background: aqua;
}
h1{
text-align: center; color: rgb(0, 0, 0)
}
p {
text-align: center;
}
strong{
color: rgb(0, 0, 0);
}
.parte2{
    background: darkblue
}